@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}
.active{
  width: 100%;
    background-color: #eceeef;
}
.active a{
  
  color: #3f7ccc ;
}
.sidenav { 
  width: 250px;
  height: 100vh;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
.sidenav__header{
  padding: 19px 20px 33px 20px;
}
.sidenav__title{
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
}
.sidenav__name{
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
}
.sidenav__component{
  font-size: .875rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  padding: 33px 20px 15px 20px;
}
.sidenav__menu{
  list-style-type:none;
margin: 0;
padding: 0;
}
.sidenav__menu-item:hover {
    width: 100%;
    background-color: #eceeef;
     cursor: pointer;
  color: #3f7ccc ;
}
.sidenav__menu-item {
    width: 248.7px;
     padding: 11px 20px;
}
ul, li{
  margin: 0;
  padding: 0;
}
a:hover{

  color: #3f7ccc ;
}
a {
  text-decoration: none;
  font-size: .875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}
.sidenav__menu-item_color{
  color: #3f7ccc ;
}
.card{
  margin: 40px 40px 40px calc(250px + 40px);
  padding: 20px;
  max-width: 1036px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
}
.alert{
  padding-top: 15px;
  padding-left: 23px;
  padding-bottom: 15px;
  max-width: 666px;
  width: 100%;
  height: auto;
  border-radius: 3px;
  font-size: inherit;
  line-height: 100%;
}
.alert-1 {
  background-color: #e2eed8;
  color: #4b713d;
  margin-bottom: 20px;
}
.alert-2 {
  background-color: #dcedf6;
    color: #3d708d;
    margin-bottom: 20px;
}
.alert-3 {
  background-color: #fcf7e4;
    color: #876d40;
    margin-bottom: 20px;
}
.alert-4 {
  background-color: #efdfdf;
  color: #9f4f48;
}

.closebtn {
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 11px;
  height: 24px;
  opacity: 0.2;
  text-shadow: 0 1px 0 var(--white);
  font-weight: bold;
  font-style: bold;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.closebtn:hover {
  color: black;
}
