.alert{
  width: 573px;
  height: 161px;
  border-radius: 4px;
  font-family: HelveticaNeue;
  margin-bottom: 10px;
  margin-left: 49px;
  padding: 6px 10px 12px 20px;
}
.alert--1 {
  margin-top: 28px;
  background-color: #cce5ff;
  color: #004085;
}
.alert--2 {
  background-color: #e7e8ea;
  color: #464a4e;
}
.alert--3 {
  background-color: #d4edda;
  color: #155724;
}
.alert--4 {
  background-color: #f8d7da;
  color: #721c24;
}
.alert--5 {
  background-color: #fff3cd;
  color: #856404;
}
.alert--6 {
  background-color: #d1ecf1;
  color: #0c5460;
}
.alert--7 {
  background-color: #fefefe;
  color: #818182;
}
.alert--8 {
  margin-bottom: 55px;
  background-color: #d6d8d9;
    color: #1b1e21;
}
strong{
  font-size: 24px;
}
html{
  font-style: OpenSans;
}
body{
  background-color: #fafafa;
}
.sidenav { 
  width: 250px;
  height: 873px;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--white);
  height: 100%;
  box-shadow: -5px 0 25px 0 ;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-left: 20px;
}
.sidenav__title{
  width: 76px;
  height: 19px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 19px;
  margin-bottom: 2px;
}
.sidenav__name{
  width: 88px;
  height: 15px;
  font-family: OpenSans;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
}
.sidenav__component{
  width: 86px;
  height: 19px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 33px;
  margin-bottom: 26px;
}
.sidenav a {
  width: 71px;
  height: 18px;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  margin-bottom: 22px;
}

.sidenav a:hover {
  width: 33px;
  height: 18px;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #3f7ccc;
  background-color: #fafafa;
}
.container{
  margin-top: 39px;
  margin-bottom: 44px;
  margin-left: 290px;
  margin-right: 40px;
  width: 1036px;
  height: 790px;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
}