@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #fafafa;
}
.alert{
  padding-top: 15px;
  padding-left: 23px;
  padding-bottom: 15px;
  max-width: 666px;
  width: 100%;
  max-height: 74px;
  height: auto;
  border-radius: 3px;
  font-size: inherit;
  line-height: 100%;
  margin-left: 37px;
   
}
.alert-1 {
  margin-top: 45px;
  background-color: #e2eed8;
  color: #4b713d;
  margin-bottom: 20px;
}
.alert-2 {
  background-color: #dcedf6;
    color: #3d708d;
    margin-bottom: 20px;
}
.alert-3 {
  background-color: #fcf7e4;
    color: #876d40;
    margin-bottom: 20px;
}
.alert-4 {
  background-color: #efdfdf;
  color: #9f4f48;
  margin-bottom: 43px;
}

.closebtn {
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 11px;
  height: 24px;
  opacity: 0.2;
  text-shadow: 0 1px 0 var(--white);
  font-weight: bold;
  font-style: bold;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.closebtn:hover {
  color: black;
}


.sidenav { 
  max-width: 250px;
  width: 100%;
  height: 873px;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-left: 20px;
}
.sidenav__title{
  width: 100%;
  height: 19px;
   
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 19px;
  margin-bottom: 2px;
}
.sidenav__name{
  width: 100%;
  height: 15px;
   
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
}
.sidenav__component{
  width: 86px;
  height: 19px;
   
  font-size: .875rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 33px;
  margin-bottom: 26px;
}
.sidenav__menu{
  list-style-type:none;
  left: 0;
margin-left: -39px;
}
.sidenav a {
  width: 71px;
  height: 18px;
  text-decoration: none;
  font-size: .875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  margin-bottom: 22px;
}

.sidenav a:hover {
  width: 33px;
  height: 18px;
   text-decoration: none; 
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #3f7ccc;
  background-color: #fafafa;
}
.box{
  margin-top: 39px;
  margin-bottom: 44px;
  margin-left: 290px;
  margin-right: 40px;
  padding: 20px;
  max-width: 1036px;
  max-height: 790px;
  width: 100%;
  height: 100vh;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
}