@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}
.active{
  width: 100%;
    background-color: #eceeef;
}
.active a{
  
  color: #3f7ccc ;
}
.row{
display: flex;  
flex-wrap: wrap;
}
.col-5{
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  -ms-flex: 0 0 50%;
flex: 0 0 50%;
max-width: 50%;
}

.sidenav { 
  width: 250px;
  height: 100vh;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
.sidenav__header{
  padding: 19px 20px 33px 20px;
}
.sidenav__title{
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
}
.sidenav__name{
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
}
.sidenav__component{
  font-size: .875rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  padding: 33px 20px 15px 20px;
}
.sidenav__menu{
  list-style-type:none;
margin: 0;
padding: 0;
}
.sidenav__menu-item:hover {
    width: 100%;
    background-color: #eceeef;
     cursor: pointer;
  color: #3f7ccc ;
}
.sidenav__menu-item {
    width: 248.7px;
     padding: 11px 20px;
}
ul, li{
  margin: 0;
  padding: 0;
}
.sidenav__menu-link:hover{

  color: #3f7ccc ;
}
.sidenav__menu-link {
  text-decoration: none;
  font-size: .875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}
.sidenav__menu-item_color{
  color: #3f7ccc ;
}

.card{
  margin: 40px 40px 40px calc(250px + 40px);
  padding: 20px;
  max-width: 1036px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
}
.card--1{
  word-wrap: break-word;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    max-width: 340px;
    width: 100%;
    margin-left: 68px;
    margin-bottom: 100px;
}
.card--3{
  word-wrap: break-word;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    max-width: 340px;
    width: 100%;
    margin-left: 68px;
    margin-bottom: 100px;
  margin-top: 10px;
}

.card--2{
  max-width: 340px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card--4{
  max-width: 340px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 75px;
}
.card--5{
  max-width: 340px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 50px;
}
.card--1__img{
    max-height: 180px;
  width: 100%;
height: 180vh;
background-color: #55595c;
border-top-right-radius: .25rem;
border-top-left-radius: .25rem;
}
.card--1__body{
  padding: 24px 21px 31px 21px;
}
.card--3__body{
  padding: 24px 21px 31px 21px;
}
.card--2__body{
  padding: 24px 21px 30px 21px;
}
.card--4__body{
  padding: 24px 21px 31px 21px;
}
.card--5__body{
  padding: 24px 21px 31px 21px;
}
.card--1__title{
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}

.card--1__text{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.card--1__btn{
  display: inline-block;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
color: #fff;
background-color: #007bff;
border-color: #007bff;
}
.ul {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}

.ul .li {
  border: 1px solid #ddd; 
  background-color: #f6f6f6; 
  padding: 12px; 
}
.card--2__link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.card--2__link + .card--2__link {
    margin-left: 1.25rem;
}
.card--2__img{
  max-height: 180px;
  width: 100%;
height: 180vh;
background-color: #55595c;
border-top-right-radius: .25rem;
border-top-left-radius: .25rem;
}
.card--2__title{
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}

.card--2__text{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}


.card--3___subtitle{
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}
.card--3__img{
 max-height: 180px;
  width: 100%;
height: 180vh;
background-color: #55595c;
border-top-right-radius: .25rem;
border-top-left-radius: .25rem;

}
.card--3__title{
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}

.card--3__text{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.card--5__title{
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.card--5__btn{
  display: inline-block;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
color: #fff;
background-color: #007bff;
border-color: #007bff;
}
.card--4__title{
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.card--2__link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.card--3__link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.card--3__link + .card--3__link {
    margin-left: 1.25rem;
}
.card-header{
  background-color: silver;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
  padding: 16px 21px 15px 21px;
}
.card-footer{
  background-color: silver;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
  padding: 16px 21px 15px 21px;
margin-top: 18px;
}