.square > div {
  display: flex;
  width: 200px;
  height: 200px;
  }
.square{
  display: flex;
  margin: 12px;
  width: 1611px;
  }
.square--color-1 {
  background-color: #373a3c;
  margin-right: 54px;
  margin-bottom: 70px;
}
.square--color-2 {
  background-color: #55595c;
  margin-right: 54px;
  margin-bottom: 70px;
}
.square--color-3 {
  background-color: #777777;
  margin-right: 54px;
  margin-bottom: 70px;
}
.square--color-4 {
  background-color: #818a91;
margin-right: 54px;
  margin-bottom: 70px;
}
.square--color-5 {
  border: 1px solid #373a3c;
  background-color: #dddddd;
margin-right: 54px;
  margin-bottom: 70px;
}
.square--color-6 {
  border: 1px solid #373a3c;
  background-color: #eceeef;
  margin-bottom: 70px;
}
.square--color-7 {
  background-color: #1c7cd5;
margin-right: 54px;
  margin-bottom: 70px;
}
.square--color-8 {
  background-color: #5cb85c;
margin-right: 54px;
  margin-bottom: 70px;
}
.square--color-9 {
  background-color: #56c0e0;
margin-right: 54px;
  margin-bottom: 70px;
}
.square--color-10 {
  background-color: #f0ad4e;
margin-right: 54px;
  margin-bottom: 70px;
}
.square--color-11 {
  background-color: #d9534f;
  margin-bottom: 70px;
}
.square--color-12 {
  border: 1px solid #373a3c;
  background-color: #dcedf6;
margin-right: 54px;
  margin-bottom: 70px;
}
.square--color-13 {
  border: 1px solid #373a3c;
  background-color: #e2eed8;
margin-right: 54px;
  margin-bottom: 70px;
}
.square--color-14 {
  border: 1px solid #373a3c;
  background-color: #fcf7e4;
margin-right: 54px;
  margin-bottom: 70px;
}
.square--color-15 {
  border: 1px solid #373a3c;
  background-color: #efdfdf;
  margin-bottom: 70px;
}
html{
  font-family: OpenSans;
}
body{
  font-family: OpenSans;
  background-color: #fafafa;
}
.sidenav { 
  width: 250px;
  height: 873px;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--white);
  height: 100%;
  box-shadow: -5px 0 25px 0 ;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-left: 20px;
}
.sidenav__title{
  width: 76px;
  height: 19px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 19px;
  margin-bottom: 2px;
}
.sidenav__name{
  width: 88px;
  height: 15px;
  font-family: OpenSans;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
}
.sidenav__component{
  width: 86px;
  height: 19px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 33px;
  margin-bottom: 26px;
}
.sidenav a {
  width: 71px;
  height: 18px;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  margin-bottom: 22px;
}

.sidenav a:hover {
  width: 33px;
  height: 18px;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #3f7ccc;
  background-color: #fafafa;
}
.box{
  margin-top: 39px;
  margin-bottom: 44px;
  margin-left: 290px;
  margin-right: 40px;
  width: 1611px;
  height: 790px;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
}
