.jumbotron{
  width: 772px;
  height: 482px;
  border-radius: 4px;
  margin-left: 68px;
  margin-top: 58px;
}
.jumbotron__title{
  width: 440px;
  height: 92px;
  font-family: HelveticaNeue;
  font-size: 79px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
  margin-bottom: 8px;
}
.jumbotron__subtitle{
  width: 702px;
  height: 55px;
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
  margin-bottom: 27.5px;
}
.jumbotron__body{
  width: 663px;
  height: 45px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
  margin-top: 27.5px;
}
.btn-primary{
  margin-top: 21px;
}