@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #fafafa;
}
.container__jumbotron{
  max-width: 772px;
  width: 100%;
  max-height: 482px;
  height:  100%;
  border-radius: 4px;
  margin-left: 68px;
  margin-top: 58px;
  background-color: silver;
  padding: 65px 35.5px 87px 34px;
}
.container__jumbotron__title{
  max-width: 67.6vw;
  max-height: 92px;
  width: 100%;
  height: 100%;
  font-size: 79px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
  margin-bottom: 8px;
}
.container__jumbotron__subtitle{
  max-width: 702px;
  max-height: 55px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
  margin-bottom: 27.5px;
}
.container__jumbotron__body{
  max-width: 663px;
  max-height: 45px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
  margin-top: 27.5px;
}
.container__jumbotron__button{
  margin-top: 21px;
  max-width: 151px;
  max-height: 54px;
  width: 100%;
  height: 54vh;
  background-color: #1c7cd5;
  border: 1px solid #1c7cd5;
  border-radius: 4px;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.sidenav { 
  max-width: 250px;
  width: 100%;
  height: 100vh;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-left: 20px;
}
.sidenav__title{
  width: 100%;
  height: 19px;
   
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 19px;
  margin-bottom: 2px;
}
.sidenav__name{
  width: 100%;
  height: 15px;
   
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
}
.sidenav__component{
  width: 86px;
  height: 19px;
   
  font-size: .875rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 33px;
  margin-bottom: 26px;
}
.sidenav__menu{
  list-style-type:none;
  left: 0;
margin-left: -39px;
}
.sidenav a {
  width: 71px;
  height: 18px;
  text-decoration: none;
  font-size: .875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}
.sidenav__menu-item{
  margin-bottom: 26px;
}
.sidenav__menu-item_color{
  color: #3f7ccc !important;
}
.sidenav a:hover {
  width: 33px;
  height: 18px;
   text-decoration: none; 
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #3f7ccc;
  background-color: #fafafa;
}
.box{
  margin-top: 39px;
  margin-bottom: 44px;
  margin-left: 290px;
  margin-right: 40px;
  padding: 20px;
  max-width: 1036px;
  max-height: 790px;
  width: 100%;
  height: 100vh;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
}