@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}
.active{
  width: 100%;
    background-color: #eceeef;
}
.active a{
  
  color: #3f7ccc ;
}
.sidenav { 
  width: 250px;
  height: 100vh;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
.sidenav__header{
  padding: 19px 20px 33px 20px;
}
.sidenav__title{
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
}
.sidenav__name{
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
}
.sidenav__component{
  font-size: .875rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  padding: 33px 20px 15px 20px;
}
.sidenav__menu{
  list-style-type:none;
margin: 0;
padding: 0;
}
.sidenav__menu-item:hover {
    width: 100%;
    background-color: #eceeef;
     cursor: pointer;
  color: #3f7ccc ;
}
.sidenav__menu-item {
    width: 248.7px;
     padding: 11px 20px;
}
ul, li{
  margin: 0;
  padding: 0;
}
a:hover{

  color: #3f7ccc ;
}
a {
  text-decoration: none;
  font-size: .875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}
.sidenav__menu-item_color{
  color: #3f7ccc ;
}
.card{
  margin: 40px 40px 40px calc(250px + 40px);
  padding: 20px;
  max-width: 1036px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
}
.list-group {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

.list-group .list-group-item__1 {
  border: 1px solid #ddd; 
  margin-top: -1px; 
  background-color: #fff; 
  padding: 12px; 
}
.list-group .list-group-item__2 {
  border: 1px solid #ddd; 
  margin-top: -1px; 
  background-color: #1c7cd5; 
  padding: 12px; 
  color: #fff;
}
.list-group .list-group-item__3 {
  border: 1px solid #ddd; 
  margin-top: -1px; 
  background-color: #e2eed8; 
  padding: 12px; 
  color: #3c763d;
}
.list-group .list-group-item__4 {
  border: 1px solid #ddd; 
  margin-top: -1px; 
  background-color: #dcedf6; 
  padding: 12px; 
  color: #31708f;
}
.list-group .list-group-item__5 {
  border: 1px solid #ddd; 
  margin-top: -1px; 
  background-color: #fcf7e4; 
  padding: 12px; 
  color: #8a6d3b;
}
.list-group .list-group-item__6 {
  border: 1px solid #ddd; 
  margin-top: -1px; 
  background-color: #efdfdf; 
  padding: 12px; 
  color: #a94442;
}

.list-group--1{
	width: 252px;;
  height: 53px;
   
}
.list-group--2{
	width: 252px;
  height: 53px;
	margin-left: 385px;
	margin-top: -53px;
	 
}
.list-group--3{
	width: 252px;
  height: 53px;
	margin-left: 712px;
	margin-top: -53px;
	 
}
.list-group--4{
	width: 319.2px;
	margin-top: 228px;
	
}
.list-group--5{
	  width: 400px;

  height: 149px;
	 margin-top: 67px;
	  
}


.badge-pill-1 {
	width: 30px;
	height: 18px;
    display: inline-block;
    padding: .25em .4em;
    padding-right: 0.4em;
    padding-left: 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: #fff;
    background-color: #777777;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
    margin-left: 147px;
}
.badge-pill-2 {
	width: 30px;
	height: 18px;
    display: inline-block;
    padding: .25em .4em;
    padding-right: 0.4em;
    padding-left: 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: #fff;
    background-color: #777777;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
    margin-left: 101px;
}
.badge-pill-3 {
	width: 30px;
	height: 18px;
    display: inline-block;
    padding: .25em .4em;
    padding-right: 0.4em;
    padding-left: 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: #fff;
    background-color: #777777;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
    margin-left: 147px;
}
.list-group--header{
	margin-left: 20%;
}