@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #fafafa;
}
.table{
  border-collapse: collapse;
  width: 100%;
max-width: 100%;
margin-bottom: 4rem;
background-color: transparent;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    text-align: left;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: bottom;
    border-top: 1px solid #dee2e6;
    text-align: left;
}


.table-dark {
    color: #fff;
    background-color: #373a3c;
}
.thead-dark{
  background-color: #373a3c;
  color: #fff;
}
.thead-light{
  background-color: #eceeef;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0,0,0,.05);
}
.table-dark.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, 0.15);
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dddddd;
}
.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #eceeef;
}
.table-sm td, .table-sm th {
    padding: .3rem;
}
.table-active, .table-active > td, .table-active > th {
    background-color: #f5f5f5;
}
.table-success, .table-success > td, .table-success > th {
    background-color: #def0d7;
}
.table-info, .table-info > td, .table-info > th {
    background-color: #d8edf7;
}
.table-warning, .table-warning > td, .table-warning > th {
    background-color: #fdf8e3;
}
.table-danger, .table-danger > td, .table-danger > th {
    background-color: #f2dedf;
}
.bg-primary {
    background-color: #1c7cd5 !important;
}
.bg-success {
    background-color: #74b05d !important;
}
.bg-info {
    background-color: #70bedb !important;
}
.bg-warning {
    background-color: #f0ad4e !important;
}
.bg-danger {
    background-color: #cc6257 !important;
}
.table-dark_noborder {
    color: #fff;
    background-color: #373a3c;
}
.table-dark_noborder td, .table-dark_noborder th, .table-dark_noborder thead th {
    border-color: #373a3c;
}
.sidenav { 
  max-width: 250px;
  width: 100%;
  height: 100vh;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-left: 20px;
}
.sidenav__title{
  width: 100%;
  height: 19px;
   
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 19px;
  margin-bottom: 2px;
}
.sidenav__name{
  width: 100%;
  height: 15px;
   
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
}
.sidenav__component{
  width: 86px;
  height: 19px;
   
  font-size: .875rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 33px;
  margin-bottom: 26px;
}
.sidenav__menu{
  list-style-type:none;
  left: 0;
margin-left: -39px;
}
.sidenav a {
  width: 71px;
  height: 18px;
  text-decoration: none;
  font-size: .875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}
.sidenav__menu-item{
  margin-bottom: 26px;
}
.sidenav__menu-item_color{
  color: #3f7ccc !important;
}
.sidenav a:hover {
  width: 33px;
  height: 18px;
   text-decoration: none; 
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #3f7ccc;
  background-color: #fafafa;
}
.box{
  margin-top: 39px;
  margin-bottom: 44px;
  margin-left: 290px;
  margin-right: 40px;
  padding: 20px;
  max-width: 1036px;
  max-height: 3482px;
  width: 100%;
  height: 3482vh;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
}