@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #fafafa;
}

.col-6{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  -ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;
}
.row{
display: flex;  
flex-wrap: wrap;
}
.h{
  margin-bottom: .5rem;
font-family: inherit;
font-weight: 500;
line-height: 1.2;
color: inherit;
}
.h-1{
  margin-bottom: 31px;
  font-size: 250%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.h-2{
  margin-bottom: 31px;
  font-size: 200%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.h-3{
  margin-bottom: 31px;
  font-size: 175%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.h-4{
  margin-bottom: 31px;
  font-size: 150%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.h-5{
 margin-bottom: 31px;
  font-size: 125%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.h-6{
  margin-bottom: 89px;
  font-size: 100%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.fancydisplay{
  display: flex;
  margin-bottom: 50px;
}
.fancydisplay--h4{
  color:#818a91;
}
.normal{
  width: 663px;
  height: 64px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
  max-width: 663px;

width: 50%;
}
.lead{
  width: 663px;
  height: 64px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
  max-width: 663px;

width: 61%;
}
.ul--circle{
  margin-left: 6px;
  list-style-type: circle;
  color: #373a3c;
}
.ul--default{
  color: #373a3c;
  margin-left: -24px;
}
.twitter{
  margin-left: 367px;
  margin-top: -51px;
}

.twitter__link{
  color: #1c7cd5;
}
.Display {
  
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
  margin-left: 591px;
  margin-top: -998px;
}
.Display-1{
  width: 405px;
  height: 111px;
  font-size: 600%;
  line-height: 1.19;
  
}
.Display-2{
  width: 372px;
  height: 103px;
  font-size: 550%;
  line-height: 1.19;
}
.Display-3{
  width: 334px;
  height: 92px;
  font-size: 494%;
  line-height: 1.19;}
.Display-4{
  width: 258px;
  height: 71px;
  font-size: 381%;
  line-height: 1.2;
}
.blockquote{
   
  padding-left: 10px;
}
.blockquote--line__left {
   
  border-left: 6px solid silver;
  height: 112px;
margin-left: 745px;
  margin-top: 56px;
}
.blockquote--quote__left{
  max-width: 623px;
  width: 623vw;
  margin-left: 765px;
  margin-top: -84px;
  margin-right: 154px;
   
}
.blockquote--someone__left{
  margin-left: 801px;
  margin-top: 12px;
  
  color: #818a91;
}
.blockquote--hr__left{
  border: 1px solid silver;
  width: 23px;
margin-left: 768px;

margin-top: -9px;
}

.blockquote--line__right {
  border-left: 6px solid silver;
  height: 112px;
margin-left: 1261px;
  margin-top: 56px;
  width: 23px;
}
.blockquote--quote__right{
  margin-left: 719px;
margin-top: -84px;
margin-right: 232px;
width: 527px;
 
text-align: right;
}
.blockquote--someone__right{
  margin-left: 688px;
 
margin-right: 232px;
width: 527px;

text-align: right;
  color: #818a91;
}
.blockquote--hr__right{
  border: 1px solid silver;
width: 23px;
margin-left: 1220px;
margin-top: -10px;
margin-right: 232px;
}


.sidenav { 
  max-width: 250px;
  width: 100%;
  height: 100vh;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-left: 20px;
}
.sidenav__title{
  width: 100%;
  height: 19px;
   
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 19px;
  margin-bottom: 2px;
}
.sidenav__name{
  width: 100%;
  height: 15px;
   
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
}
.sidenav__component{
  width: 86px;
  height: 19px;
   
  font-size: .875rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 33px;
  margin-bottom: 26px;
}
.sidenav__menu{
  list-style-type:none;
  left: 0;
margin-left: -39px;
}
.sidenav a {
  width: 71px;
  height: 18px;
  text-decoration: none;
  font-size: .875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}
.sidenav__menu-item{
  margin-bottom: 26px;
}
.sidenav__menu-item_color{
  color: #3f7ccc !important;
}
.sidenav a:hover {
  width: 33px;
  height: 18px;
   text-decoration: none; 
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #3f7ccc;
  background-color: #fafafa;
}
.box{
  margin-top: 39px;
  margin-bottom: 44px;
  margin-left: 290px;
  margin-right: 40px;
  padding: 20px;
  max-width: 1036px;
  max-height: 1129px;
  width: 100%;
  height: 1129vh;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
}