

.h{
	font-family: HelveticaNeue;
}
.fancydisplay{
	display: flex;
}
.fancydisplay--h4{
	color:#818a91;
}
.normal{
	color: #373a3c;
}
.lead{
	color: #373a3c;
}
.ul--circle{
	list-style-type: circle;
	color: #373a3c;
}
.ul--default{
	color: #373a3c;
}
.twitter{
	margin-left: 367px;
	margin-top: -51px;
}

.twitter__link{
	color: #1c7cd5;
}
.Display {
  font-family: HelveticaNeue;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
  margin-left: 765px;
  margin-top: -682px;
}
.Display-1{
  width: 395px;
  height: 111px;
  font-size: 96px;
  line-height: 1.19;
  font-family: HelveticaNeue;
}
.Display-2{
  width: 362px;
  height: 103px;
  font-size: 88px;
  line-height: 1.19;
}
.Display-3{
  width: 325px;
  height: 92px;
  font-size: 79px;
  line-height: 1.19;}
.Display-4{
  width: 251px;
  height: 71px;
  font-size: 61px;
  line-height: 1.2;
}
.blockquote--line__left {
  border-left: 6px solid silver;
  height: 112px;
margin-left: 745px;
  margin-top: 56px;
}
.blockquote--quote__left{
  margin-left: 765px;
  margin-top: -84px;
  margin-right: 81px;
}
.blockquote--someone__left{
	margin-left: 790px;
  margin-top: 12px;
  margin-right: 81px;
  color: #818a91;
}
.blockquote--hr__left{
	border: 1px solid silver;
margin-left: 765px;
margin-right: 549px;
margin-top: -9px;
}

.blockquote--line__right {
  border-left: 6px solid silver;
  height: 112px;
margin-left: 1204px;
  margin-top: 56px;
}
.blockquote--quote__right{
  margin-left: 714px;
  margin-top: -84px;
  margin-right: 135px;
  text-align: right;
}
.blockquote--someone__right{
	margin-left: 765px;
  margin-top: 12px;
  margin-right: 160px;
  text-align: right;
  color: #818a91;
}
.blockquote--hr__right{
	border: 1px solid silver;
margin-left: 1177px;
margin-right: 136px;
margin-top: -9px;
}
@import url('https://fonts.googleapis.com/css');
html{
	  font-family: HelveticaNeue;
}