@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}
.active{
  width: 100%;
    background-color: #eceeef;
}
.active a{
  
  color: #3f7ccc ;
}
.sidenav { 
  width: 250px;
  height: 100vh;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
.sidenav__header{
  padding: 19px 20px 33px 20px;
}
.sidenav__title{
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
}
.sidenav__name{
  font-size: .875rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #9a9a9a;
}
.sidenav__component{
  font-size: .875rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  padding: 33px 20px 15px 20px;
}
.sidenav__menu{
  list-style-type:none;
margin: 0;
padding: 0;
}
.sidenav__menu-item:hover {
    width: 100%;
    background-color: #eceeef;
     cursor: pointer;
  color: #3f7ccc ;
}
a:hover{

  color: #3f7ccc ;
}
.sidenav__menu-item {
    width: 248.7px;
     padding: 11px 20px;
  color: #3f7ccc ;
}
ul, li{
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-size: .875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}
.sidenav__menu-item_color{
}
.card{
  margin: 40px 40px 40px calc(250px + 40px);
  padding: 20px;
  max-width: 1036px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
}
.row{
display: flex;  
flex-wrap: wrap;
}
.col-5{
  width: 50%;
  padding-right: 15px;
  -ms-flex: 0 0 50%;
flex: 0 0 50%;
max-width: 50%;
}
.h{
  margin-bottom: .5rem;
font-family: inherit;
font-weight: 500;
line-height: 1.2;
color: inherit;
}
.h-1{
  margin-bottom: 31px;
  font-size: 250%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.h-2{
  margin-bottom: 31px;
  font-size: 200%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.h-3{
  margin-bottom: 31px;
  font-size: 175%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.h-4{
  margin-bottom: 31px;
  font-size: 150%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.h-5{
 margin-bottom: 31px;
  font-size: 125%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.h-6{
  margin-bottom: 89px;
  font-size: 100%;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.fancydisplay{
  display: flex;
  margin-bottom: 50px;
}
.fancydisplay--h4{
  color:#818a91;
}
.normal{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.lead{
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.ul--circle{
  list-style-type: circle;
  color: #373a3c;
  padding-left: 40px;
}
.ul--default{
  color: #373a3c;
  padding-left: 20px;
}

.twitter__link{
  color: #1c7cd5;
}
.twitter{
  padding-left: calc(313px - 20px);
}
.Display {
  padding-top: calc(71px - 20px);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.Display-1{
  font-size: 600%;
  line-height: 1.19;
  
}
.Display-2{
  font-size: 550%;
  line-height: 1.19;
}
.Display-3{
  font-size: 494%;
  line-height: 1.19;}
.Display-4{
  font-size: 381%;
  line-height: 1.2;
}
.blockquote__left{
   margin: 0;
   border-left: 3px solid #818a91;
   padding: 20px 23.5px;
}
hr{
  margin: 0;
}
.blockquote--someone__left{
  margin-top: 12px;
  color: #818a91;
  padding-left: calc(55.5px - 23.5px);
}
.blockquote--hr__left{
  padding-left: 23.5px;
border: 1px solid silver;
width: 23px;
margin-top: -9px;
}
.blockquote__right{
   margin: 0;
   border-right: 3px solid #818a91;
   padding: 20px 23.5px;
}
.blockquote--quote__right{
text-align: right;
padding-left: 23.5px;
}
.blockquote--someone__right{
  margin-top: 12px;
text-align: right;
  color: #818a91;
  padding-right: calc(55.5px - 23.5px);

}
.blockquote--hr__right{
  padding-left: 23.5px;
border: 1px solid silver;
width: 23px;
margin-top: -9px;
margin-left: 404px;
}
